body {
    background-color:  #003135;
    color: #eee;
    overflow-x: hidden;
    font-family: doris;
}

header {
    background: hsla(185, 100%, 10%, 1);

    background: linear-gradient(0deg, hsla(185, 100%, 10%, 1) 23%, hsla(12, 49%, 40%, 1) 100%);
    
    background: -moz-linear-gradient(0deg, hsla(185, 100%, 10%, 1) 23%, hsla(12, 49%, 40%, 1) 100%);
    
    background: -webkit-linear-gradient(0deg, hsla(185, 100%, 10%, 1) 23%, hsla(12, 49%, 40%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#003135", endColorstr="#964734", GradientType=1 );
    color: aliceblue;
    padding: 0.3em;
    border-radius: 5px;
}

header h1 {
   text-align: center;
    margin-block-end: 1rem;
    font-size: 2.5em;
    
}

input[type=text],input[type=number] {
    line-height: 2em;
    background-color: transparent;
    outline: 1px solid white;
    border-radius: 10px;
    border: 0;
    padding-inline-start: 0.7rem;
    font-family: doris;
}

input[type=text]:focus{
    color: white;
} 



button {
    color: whitesmoke;
    border: 0;
    border-radius: .2em;
    background-color: #222;
    padding: 6px 10px;
    margin: 2px;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    color: rgb(183, 178, 178);
    background-color: #111;
}

.muted {
    font-size: .9em;
    color: var(--gray1);
}

.smaller {
    font-size: .8em;
}

